
<br>
<br>

<%= link_to "New Menu", new_restaurant_menu_path, class: "btn btn-primary " %>


<div class="container-md" >
    <div class="row row-cols-1">
        <% @menus.each do |menu| %>   
          <figure> 
            
            <div class="card shadow rounded" style="width: 18rem;">
                <% if menu.picture.attached? %>      
                    <%= image_tag menu.picture, height: "150px", class: "card-img-top image" %> 
                <% else %>
                    <%= image_tag "karly-gomez-lK1Q5RyD6tc-unsplash.jpg", height: "150px", class: "card-img-top image" %>
                <% end %> 

                <div class="card-body overlay">
                 <h5 class="card-title text fw-bold"><%= menu.title %></h5>
                 <p class="card-text text "><small class="text-muted"><%= menu.description %></small></p> 
                </div>  
            </div>
       
          </figure> 
        <% end %>   
    </div>
</div>

