

<div class="container mt-3">
  <!-----------------------------slideshow carousel---------------------------->
  <div id="demo<%= @restaurant.id %>" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      
        <% @restaurant.images.each_with_index do |image, index| %>              
          <% if @restaurant.images.attached? %>             
            <div class="carousel-item <%= "active" if index == 0 %>">   
              <%= image_tag(url_for(image), style: "width:100%; height:600px" ) %>
            </div>
          <% end %>  
        <% end %>
      
        <% @restaurant.clips.each_with_index do |clip, index| %>               
            <% if @restaurant.clips.attached? %>  
              <div class="carousel-item <%= "active" if index == 0 && @restaurant.images.blank? %>">
                <%= video_tag(url_for(clip), style:"width:100%; height:600px", controls: '') %>
              </div>
            <% end %>           
        <% end %> 
      
    </div>      
    <button class="carousel-control-prev" type="button" data-bs-target="#demo<%= @restaurant.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo<%= @restaurant.id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>   
    </button>
  </div>

  <!--------------------------------------restaurant detail----------------------------------------------->               
  <h3 class="fw-bolder mt-3"><%= @restaurant.name %></h2 >

  <div id="map"></div>
  <p class="text-muted"><%= @restaurant.full_address %></p>

  <div class="fst-italic" ><%= @restaurant.email %></div><br/>

    <span>categories:
    <% @restaurant.categories.each do |category| %>             
         <%= category.name %>         
    <% end %>  
    <span>
  <hr/>
  
  <!------------------------------map--------------------------->
    <div class="col-12">
      <%= link_to google_map_restaurants_path do %>
       <%= image_tag ("icons8-google-maps-old.svg"), width: "30px", height: "30px" %>
       <% end %>
         &#160;&#160;
        <%= link_to new_restaurant_review_path(@restaurant), data: { "bs-target": "#exampleModal", "bs-toggle": "modal" } do %>
          <%= image_tag ("icons8-review-64.png"), width: "30px", height: "30px" %>
        <% end %>
         &#160;&#160;
        <%= link_to "Menu", restaurant_menus_path(@restaurant) %>
              
      <br/>
      <br/>
    </div>
       
      
  <!------------------------------------Review--------------------------------------->
     
  <div id="clicked">
      <%= render 'reviews/review' %>
  </div>

  
    <!------------------------------ Modal ------------------------------------------------>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Submit your Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
             <%= render 'reviews/form' %>   
        </div>
      </div>
    </div>

</div>


     


