<p>
  <strong>name</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>description</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>email</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>contact</strong>
  <%= @restaurant.contact %>
</p>

<p>
  <strong>full_address</strong>
  <%= @restaurant.full_address %>
</p>

<p>
  <strong>image</strong>
  <%= image_tag @restaurant.image.variant(resize: "50x50") %>
</p>